asgiref==3.2.10
dj-database-url==0.5.0
Django==3.1.1
django-on-heroku==1.0.1
gunicorn==20.0.4
h5py==2.10.0
Keras==2.4.3
numpy==1.19.2
Pillow==7.2.0
psycopg2-binary==2.8.6
python-decouple==3.3
pytz==2020.1
PyYAML==5.3.1
scipy==1.5.2
six==1.15.0
sqlparse==0.3.1
whitenoise==5.2.0
